/* collapse 3 to 1 col at 700px  */

@media screen and (max-width: 700px) {
  .recipe {
    width: 100%;
  }
  nav {
    font-size: .85em;
    padding-top: .45em; 
  }
}


/* removes nav, alters div col styling, positions footer at very small screen sizes  */
@media screen and (max-width: 575px) {
  nav {
    display: none;
  }
  div {
    border: solid .1em;
    border-radius: .35em;
  }
}


/* base styling */
body {
  background-color: #FBEFFB; 
  background: url("https://images.unsplash.com/photo-1577003833619-76bbd7f82948?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
/* styling - header, h1, nav */


#recipeName {
  margin-top: 0;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  text-align: center;
}

#recipeName.clicked { 
  color: #FBEFFB; 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* styling nav */
nav { 
  background: #fff; 
  opacity: .8;
  width: 99.99%; 
}

nav ul {
  list-style-type: none;
  margin: 2px;
  padding: 15px;
}

nav li {
  color: #5B077D;
  display: inline;
  margin: .5em;
}

nav a:hover {
  background-color: #FBECF6;
  font-style: italic; 
  text-shadow: 0 0 .75px #d91a96; 
}

 

/* full screen styling */
.full { 
  width: 99.96%;
  padding-top: 5px; 
}

/* styling - 3 column div */
div {
  display: inline-block;
  float: left;
  width: 33.3%;
  background: #fff;
  opacity: .8; 
}



li {
  font-family: Georgia;
}



/* directions sub steps */
#directions ol {
  list-style-type: upper-roman;
}

#steps { 
  font-weight: 900; 
}

h4 {
  font-family: 'Seymour One', sans-serif;
  text-decoration: underline;
  text-shadow: 0 0 .75px #FF0000, 0 0 1.75px #0000FF;
  padding: .25em; 
  margin-left: .25em; 
  text-align: center;
  
}

footer {
  text-align: center; 
}
