@media screen and (max-width: 700px) {
  .recipe {
    width: 100%;
  }
  
  nav {
    font-size: .85em; 
  }
 }

@media screen and (max-width: 575px) {
  nav {
    display: none; 
  } 
  
  div {
    border: solid .1em; 
    border-radius: .35em;
    margin: .15em;
    padding-left: .5em;
  }
  
  footer { 
    position: relative; 
    text-align: center; 
  }
}


body { 
  background-color: #FBEFFB; 
}

header { 
  padding-top: 1em;
  border: .15em solid #000; 
  border-radius: .8em;
  width: 100%; 
  height: auto;  
  background-image: url("https://images.unsplash.com/photo-1577003833619-76bbd7f82948?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  color: #5B077D; 
  display: inline; 
  margin: .25em; 
  padding: .25em; 
}

div {
  display: inline-block; 
  float: left; 
  width: 33.3%; 
}

li {
  font-family: Georgia;
}

#directions ol { 
list-style-type: upper-roman;
}

span {
  font-style: italic !important;
  color: #999;
}

h1 {
  margin-top: 0; 
  font-family: 'Amatic SC', cursive;  
  text-shadow: .2em .075em .157em #fff !important;
  text-align: center; 
}

h4 {
  font-family: 'Seymour One', sans-serif;
  text-decoration: underline;
}

footer { 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right; 
}